body { background: blue; }

h2 {
    font-family: "Comic Sans MS";
    background-color: red;
    text-align: center;
}

table {
    background: grey;
    margin: 0 auto;
    padding: 15px; /* Ditambah agar konten tidak menempel pada border */
    width: 68%;
    /* Menggunakan style border dari Percobaan 1 */
    border-style: double;
    border-width: 6px;
    border-color: cyan;
}

.kolom1 {
    font-weight: bold;
    width: 15%;
}

.kolom2 { width: 2%; }
.kolom3 { width: 83%; }

#txtNama, #txtKota { width: 186px; }
#txtTgl, #txtBulan { width: 54px; }
#txtTahun { width: 87px; }

#txtAlamat {
    width: 346px;
    height: 42px;
}

#btnKirim, #btnCancel {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer;
}

#btnKirim:hover, #btnCancel:hover {
    background-color: lightblue;
    box-shadow: 5px 5px gray;
    color: black;
}

#btnKirim:active, #btnCancel:active {
    background-color: yellow;
}